openapi: 3.1.0
info:
  title: Dispatch Files API v1 Appointments Survey Responses API
  version: '1'
  summary: Upload and retrieve photos and other files shared with service providers and customers.
  description: The Dispatch Files API stores photos and other files associated with a job, and is served from a host distinct from the core Dispatch REST API. Files are uploaded as multipart/form-data and retrieved by UID, which redirects to the stored object.
  contact:
    name: Dispatch
    url: https://dispatch.me/contact
    email: sales@dispatch.me
servers:
- url: https://files-api.dispatch.me
  description: Production
- url: https://files-api-sandbox.dispatch.me
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Survey Responses
  description: Customer surveys sent when an appointment or job completes.
paths:
  /v3/survey_responses:
    get:
      operationId: listSurveyResponses
      tags:
      - Survey Responses
      summary: List survey responses
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: filter[job_id_eq]
        in: query
        description: Survey responses for a specific job
        schema:
          type: integer
      responses:
        '200':
          description: A list of survey responses
          content:
            application/json:
              schema:
                type: object
                properties:
                  survey_responses:
                    type: array
                    items:
                      $ref: '#/components/schemas/SurveyResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    SurveyResponse:
      type: object
      description: Sent to customers when an appointment or job is completed.
      properties:
        job_id:
          type: integer
        appointment_id:
          type:
          - integer
          - 'null'
          description: Null when there was no appointment.
        rating:
          type: integer
          minimum: 0
          maximum: 5
          description: 0-5 rating from the customer
        message:
          type: string
          description: Additional feedback from the customer
  parameters:
    offset:
      name: offset
      in: query
      description: Number of records to skip.
      schema:
        type: integer
        minimum: 0
    limit:
      name: limit
      in: query
      description: Maximum number of records to return. Maximum value is 100.
      schema:
        type: integer
        maximum: 100
  responses:
    Unauthorized:
      description: Unauthorized - your OAuth2 bearer token is incorrect or expired.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained from the core API at POST /v3/oauth/token.
x-apievangelist:
  generated: '2026-07-20'
  method: generated
  source: https://github.com/DispatchMe/v3-api-docs/blob/master/source/index.html.md#files-photos
  note: Generated from the "Files and Photos" section of Dispatch's public REST API v3 documentation. The Files API is served from a different host than the core API.
