openapi: 3.2.0
info:
  title: Dispatch REST API v3 Appointments API
  version: '3'
  summary: Field-service orchestration API for jobs, customers, organizations, appointments and work orders.
  description: The Dispatch REST API lets job sources (warranty companies, equipment manufacturers, lead-generation platforms) and service enterprises interact with Dispatch's core business objects to implement their service workflow on the Dispatch platform. Job sources authenticate with OAuth 2.0 client credentials; individual service providers authenticate with the resource-owner password grant.
  contact:
    name: Dispatch
    url: https://dispatch.me/contact
    email: sales@dispatch.me
  x-documentation: https://github.com/DispatchMe/v3-api-docs
servers:
- url: https://api.dispatch.me
  description: Production
- url: https://api-sandbox.dispatch.me
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Appointments
  description: Scheduled times at which an assigned technician performs work for a job.
paths:
  /v3/appointments:
    post:
      operationId: createAppointment
      tags:
      - Appointments
      summary: Create an appointment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appointment:
                  $ref: '#/components/schemas/Appointment'
      responses:
        '201':
          description: Appointment created
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointment:
                    $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listAppointments
      tags:
      - Appointments
      summary: List appointments
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: filter[job_id_eq]
        in: query
        description: Parent job ID
        schema:
          type: integer
      - name: filter[job_id_in]
        in: query
        description: Parent job IDs (comma separated)
        schema:
          type: string
      - name: filter[organization_id_eq]
        in: query
        description: Parent organization ID
        schema:
          type: integer
      - name: filter[status_eq]
        in: query
        description: Appointments in a specific status
        schema:
          $ref: '#/components/schemas/AppointmentStatus'
      - name: filter[status_in]
        in: query
        description: Specific statuses (comma separated)
        schema:
          type: string
      - name: filter[time_gt]
        in: query
        description: Appointments scheduled after the given ISO8601 time
        schema:
          type: string
          format: date-time
      - name: filter[time_gteq]
        in: query
        description: Appointments scheduled on or after the given ISO8601 time
        schema:
          type: string
          format: date-time
      - name: filter[time_lt]
        in: query
        description: Appointments scheduled before the given ISO8601 time
        schema:
          type: string
          format: date-time
      - name: filter[time_lteq]
        in: query
        description: Appointments scheduled on or before the given ISO8601 time
        schema:
          type: string
          format: date-time
      - name: filter[user_id_eq]
        in: query
        description: Appointments assigned to a particular technician
        schema:
          type: integer
      - name: filter[user_id_in]
        in: query
        description: Appointments assigned to technicians (comma separated)
        schema:
          type: string
      - name: filter[user_id_null]
        in: query
        description: Show unassigned appointments (value should be true)
        schema:
          type: boolean
      responses:
        '200':
          description: A list of appointments
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/appointments/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      operationId: getAppointment
      tags:
      - Appointments
      summary: View a single appointment
      responses:
        '200':
          description: The appointment
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointment:
                    $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateAppointment
      tags:
      - Appointments
      summary: Update an appointment
      description: Scheduling an appointment also moves its parent job to the "scheduled" status. Canceling a job cancels all of its child appointments.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appointment:
                  $ref: '#/components/schemas/Appointment'
      responses:
        '200':
          description: The updated appointment
          content:
            application/json:
              schema:
                type: object
                properties:
                  appointment:
                    $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteAppointment
      tags:
      - Appointments
      summary: Delete an appointment
      responses:
        '204':
          description: Appointment deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of records to skip.
      schema:
        type: integer
        minimum: 0
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: Maximum number of records to return. Maximum value is 100.
      schema:
        type: integer
        maximum: 100
  schemas:
    AppointmentStatus:
      type: string
      description: Appointments move freely between statuses. Technicians update status from the mobile app.
      enum:
      - draft
      - scheduled
      - enroute
      - started
      - complete
      - canceled
    Appointment:
      type: object
      required:
      - job_id
      - status
      properties:
        id:
          type: integer
          readOnly: true
        job_id:
          type: integer
          description: ID of the parent job
        time:
          type: string
          format: date-time
          description: ISO8601 scheduled time
        duration:
          type: integer
          description: Duration in seconds. Defaults to 7200 (2 hours).
        user_id:
          type: integer
          description: ID of the assigned technician
        status:
          $ref: '#/components/schemas/AppointmentStatus'
  responses:
    NotFound:
      description: Not Found - requested resource could not be found.
    Unauthorized:
      description: Unauthorized - your OAuth2 bearer token is incorrect or expired.
    UnprocessableEntity:
      description: Unprocessable Entity - your request payload did not pass validation rules. See the response body for details.
    Forbidden:
      description: Forbidden - your credentials are correct, but you are not allowed to perform this action.
    InternalServerError:
      description: Internal Server Error - Dispatch had a problem. Try again later.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained from POST /v3/oauth/token. Tokens are temporary (expires_in is returned with the token) and must be refreshed on 401.
    oauth2:
      type: oauth2
      description: OAuth 2.0. Job sources use client_credentials; individual service providers use the resource-owner password grant. Dispatch does not document a scope vocabulary - access is governed by an account-level ACL agreed with the account manager.
      flows:
        clientCredentials:
          tokenUrl: https://api.dispatch.me/v3/oauth/token
          refreshUrl: https://api.dispatch.me/v3/oauth/token
          scopes: {}
        password:
          tokenUrl: https://api.dispatch.me/v3/oauth/token
          refreshUrl: https://api.dispatch.me/v3/oauth/token
          scopes: {}
x-apievangelist:
  generated: '2026-07-20'
  method: generated
  source: https://github.com/DispatchMe/v3-api-docs/blob/master/source/index.html.md
  note: Dispatch publishes no machine-readable specification. This document was generated faithfully from the provider's own public REST API v3 documentation repository (DispatchMe/v3-api-docs, a public Slate docs site). Paths, methods, entity attributes, query parameters, statuses and error codes are transcribed from that source. Nothing was invented. Where the docs describe a list operation in prose without printing the endpoint line, the operation is flagged with x-path-inferred.
