openapi: 3.1.0
info:
  title: Dispatch Files API v1 Appointments Brands API
  version: '1'
  summary: Upload and retrieve photos and other files shared with service providers and customers.
  description: The Dispatch Files API stores photos and other files associated with a job, and is served from a host distinct from the core Dispatch REST API. Files are uploaded as multipart/form-data and retrieved by UID, which redirects to the stored object.
  contact:
    name: Dispatch
    url: https://dispatch.me/contact
    email: sales@dispatch.me
servers:
- url: https://files-api.dispatch.me
  description: Production
- url: https://files-api-sandbox.dispatch.me
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Brands
  description: Brands or divisions controlling logo and copy. Accessible only to job sources.
paths:
  /v3/brands:
    post:
      operationId: createBrand
      tags:
      - Brands
      summary: Create a brand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
      responses:
        '201':
          description: Brand created
          content:
            application/json:
              schema:
                type: object
                properties:
                  brand:
                    $ref: '#/components/schemas/Brand'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      operationId: listBrands
      tags:
      - Brands
      summary: List brands
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: A list of brands
          content:
            application/json:
              schema:
                type: object
                properties:
                  brands:
                    type: array
                    items:
                      $ref: '#/components/schemas/Brand'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/brands/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    patch:
      operationId: updateBrand
      tags:
      - Brands
      summary: Update a brand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Brand'
      responses:
        '200':
          description: The updated brand
          content:
            application/json:
              schema:
                type: object
                properties:
                  brand:
                    $ref: '#/components/schemas/Brand'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deleteBrand
      tags:
      - Brands
      summary: Delete a brand
      responses:
        '204':
          description: Brand deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    offset:
      name: offset
      in: query
      description: Number of records to skip.
      schema:
        type: integer
        minimum: 0
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
    limit:
      name: limit
      in: query
      description: Maximum number of records to return. Maximum value is 100.
      schema:
        type: integer
        maximum: 100
  schemas:
    Brand:
      type: object
      description: Brands or divisions within your company controlling copy and logo for the mobile and web applications and customer notifications. Accessible only to job sources.
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
        phone_number:
          type: string
        logo_token:
          type: string
        email:
          type: string
          format: email
  responses:
    Unauthorized:
      description: Unauthorized - your OAuth2 bearer token is incorrect or expired.
    NotFound:
      description: Not Found - requested resource could not be found.
    Forbidden:
      description: Forbidden - your credentials are correct, but you are not allowed to perform this action.
    UnprocessableEntity:
      description: Unprocessable Entity - your request payload did not pass validation rules. See the response body for details.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained from the core API at POST /v3/oauth/token.
x-apievangelist:
  generated: '2026-07-20'
  method: generated
  source: https://github.com/DispatchMe/v3-api-docs/blob/master/source/index.html.md#files-photos
  note: Generated from the "Files and Photos" section of Dispatch's public REST API v3 documentation. The Files API is served from a different host than the core API.
