openapi: 3.2.0
info:
  title: Dispatch REST API v3 Users API
  version: '3'
  summary: Field-service orchestration API for jobs, customers, organizations, appointments and work orders.
  description: The Dispatch REST API lets job sources (warranty companies, equipment manufacturers, lead-generation platforms) and service enterprises interact with Dispatch's core business objects to implement their service workflow on the Dispatch platform. Job sources authenticate with OAuth 2.0 client credentials; individual service providers authenticate with the resource-owner password grant.
  contact:
    name: Dispatch
    url: https://dispatch.me/contact
    email: sales@dispatch.me
  x-documentation: https://github.com/DispatchMe/v3-api-docs
servers:
- url: https://api.dispatch.me
  description: Production
- url: https://api-sandbox.dispatch.me
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Users
  description: Dispatchers and technicians using the Dispatch applications.
paths:
  /v3/users:
    post:
      operationId: createUser
      tags:
      - Users
      summary: Create a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    get:
      operationId: listUsers
      tags:
      - Users
      summary: List users
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: filter[by_user_roles]
        in: query
        description: Search for users in the provided role(s)
        schema:
          type: string
      - name: filter[email_eq]
        in: query
        description: Search for users by email
        schema:
          type: string
          format: email
      - name: filter[organization_id_eq]
        in: query
        description: Search for users in a specific organization
        schema:
          type: integer
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v3/users/{id}:
    parameters:
    - $ref: '#/components/parameters/id'
    get:
      operationId: getUser
      tags:
      - Users
      summary: View a single user
      responses:
        '200':
          description: The user
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateUser
      tags:
      - Users
      summary: Update a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  $ref: '#/components/schemas/User'
      responses:
        '200':
          description: The updated user
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: deactivateUser
      tags:
      - Users
      summary: Delete / deactivate a user
      responses:
        '204':
          description: User deactivated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/users/{id}/restore:
    parameters:
    - $ref: '#/components/parameters/id'
    post:
      operationId: reactivateUser
      tags:
      - Users
      summary: Reactivate a user
      responses:
        '200':
          description: User reactivated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    id:
      name: id
      in: path
      required: true
      schema:
        type: integer
    offset:
      name: offset
      in: query
      description: Number of records to skip.
      schema:
        type: integer
        minimum: 0
    limit:
      name: limit
      in: query
      description: Maximum number of records to return. Maximum value is 100.
      schema:
        type: integer
        maximum: 100
  schemas:
    User:
      type: object
      required:
      - organization_id
      - first_name
      - last_name
      - roles
      properties:
        id:
          type: integer
          readOnly: true
        organization_id:
          type: string
          description: Organization this user is assigned to
        first_name:
          type: string
        last_name:
          type: string
        address:
          $ref: '#/components/schemas/Location'
        phone_number:
          type: string
          description: RFC 3966 format
        email:
          type: string
          format: email
        photo_token:
          type: string
          description: Token for the user photo in the Dispatch file system
        roles:
          type: array
          description: Valid roles are dispatcher and technician. Users may hold both. Technician-only users cannot log in to the desktop application.
          items:
            type: string
            enum:
            - dispatcher
            - technician
        password:
          type: string
          writeOnly: true
          description: Only used for creation and updating. Never returned on GET.
    Location:
      type: object
      description: Locations are not business objects, but attributes on several core objects. Dispatch currently supports locations in the US and Canada only.
      required:
      - street_1
      - city
      properties:
        street_1:
          type: string
        street_2:
          type: string
        city:
          type: string
        state:
          type: string
          description: Two-character state/province abbreviation
        postal_code:
          type: string
          description: 5-digit US or 6-character Canadian postal code
        timezone:
          type: string
          description: IANA timezone. If not provided Dispatch attempts to derive it from the postal code.
  responses:
    NotFound:
      description: Not Found - requested resource could not be found.
    Unauthorized:
      description: Unauthorized - your OAuth2 bearer token is incorrect or expired.
    UnprocessableEntity:
      description: Unprocessable Entity - your request payload did not pass validation rules. See the response body for details.
    Forbidden:
      description: Forbidden - your credentials are correct, but you are not allowed to perform this action.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 bearer token obtained from POST /v3/oauth/token. Tokens are temporary (expires_in is returned with the token) and must be refreshed on 401.
    oauth2:
      type: oauth2
      description: OAuth 2.0. Job sources use client_credentials; individual service providers use the resource-owner password grant. Dispatch does not document a scope vocabulary - access is governed by an account-level ACL agreed with the account manager.
      flows:
        clientCredentials:
          tokenUrl: https://api.dispatch.me/v3/oauth/token
          refreshUrl: https://api.dispatch.me/v3/oauth/token
          scopes: {}
        password:
          tokenUrl: https://api.dispatch.me/v3/oauth/token
          refreshUrl: https://api.dispatch.me/v3/oauth/token
          scopes: {}
x-apievangelist:
  generated: '2026-07-20'
  method: generated
  source: https://github.com/DispatchMe/v3-api-docs/blob/master/source/index.html.md
  note: Dispatch publishes no machine-readable specification. This document was generated faithfully from the provider's own public REST API v3 documentation repository (DispatchMe/v3-api-docs, a public Slate docs site). Paths, methods, entity attributes, query parameters, statuses and error codes are transcribed from that source. Nothing was invented. Where the docs describe a list operation in prose without printing the endpoint line, the operation is flagged with x-path-inferred.
